body {
  background-color: #ffffff;
  color: #333;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}
